yamlApplicationConfig:
  kafka:
    clusters:
      - name: zilla-demos
        bootstrapServers: kafka.grpc-proxy.svc.cluster.local:9092
        readOnly: true
        properties:
          security.protocol: SASL_SSL
          sasl.mechanism: PLAIN
          sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username="admin" password="admin";
  auth:
    type: disabled
  management:
    health:
      ldap:
        enabled: false
ingress:
  enabled: true
  ingressClassName: nginx
  path: /kafka
envs:
  config:
    SERVER_SERVLET_CONTEXT_PATH: /kafka
