
ingress:
  enabled: true
  ingressClassName: nginx
  host: taxi.aklivity.io
  path: /taxiroute.TaxiRoute
  tls:
    enabled: true
    secretName: taxi-demo-tls
  annotations:
    # cert-manager.io/issuer: "letsencrypt-staging"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-origin: "*"
    nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, OPTIONS"
    nginx.ingress.kubernetes.io/cors-allow-headers: "*"
    nginx.ingress.kubernetes.io/cors-allow-credentials: "false"
