version: "3"
services:

  zilla:
    image: ghcr.io/aklivity/zilla:0.9.60
    container_name: zilla
    pull_policy: always
    restart: unless-stopped
    ports:
      - 7114:7114
      - 7183:7183
      - 7190:7190
    volumes:
      - ./zilla.yaml:/etc/zilla/zilla.yaml
      - ./grpc/taxi_route.proto:/etc/zilla/proto/taxi_route.proto
    environment:
      TAXI_ROUTE_SERVER_HOST: taxi-service
      TAXI_ROUTE_SERVER_PORT: 50051
      KAFKA_HOST: kafka
      KAFKA_PORT: 9092
    command: start -v -e -Pzilla.engine.worker.capacity=512

  taxi-gateway:
    build: ./grpc/gateway
    container_name: taxi-gateway
    image: aklivity/taxi-gateway:local
    restart: unless-stopped
    depends_on:
      - zilla
    environment:
      GATEWAY_PORT: 8085
      GRPC_SERVER_ENDPOINT: zilla:7114
    ports:
      - 8085:8085

  taxi-service:
    build: ./grpc/service
    container_name: taxi-service
    image: aklivity/taxi-service:local
    restart: unless-stopped
    depends_on:
      - zilla
    volumes:
      - ./grpc/service/default_routes.json:/usr/src/app/default_routes.json
    environment:
      PRINT_SIM_LOGS: false
      DEFAUlT_ROUTES: true
      BROKER_HOST: zilla
    ports:
      - 50051:50051

  taxi-map-ui:
    build: ./map-ui
    container_name: taxi-map-ui
    image: aklivity/taxi-map-ui:local
    restart: unless-stopped
    depends_on:
      - zilla
    user: "${UID:-0}:${GID:-0}"
    ports:
      - 80:80

networks:
  default:
    name: zilla-taxi-demo-network
    driver: bridge
