name: Build and Push taxi-map-ui image

on:
  push:
    branches:
      - '**'
    paths:
      - "extras-containers/taxi/map-ui/**/*"

permissions:
  contents: read
  packages: write

jobs:
  docker-buildx-push:
    uses: ./.github/workflows/extras-container-build.yaml
    with:
      image-name: extras-taxi-map-ui
      dockerfile-context: extras-containers/taxi/map-ui
