name: Build and Push taxi-gateway image

on:
  push:
    branches:
      - '**'
    paths:
      - "extras-containers/taxi/grpc/gateway/**/*"

permissions:
  contents: read
  packages: write

jobs:
  docker-buildx-push:
    uses: ./.github/workflows/extras-container-build.yaml
    with:
      image-name: extras-taxi-gateway
      dockerfile-context: extras-containers/taxi/grpc/gateway
